@gray: #2B2B2B;
@nav-bar-height: 50px;

body {
  padding-top: @nav-bar-height;
  background: #2B2B2B url('img/background.jpg') no-repeat fixed center @nav-bar-height;
  font-size: 16px;
  color: white;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

/* Customize container */
@media (min-width: 768px) {
  .jumbotron .container, .content .container {
    max-width: 730px;
  }
}

.nav {
  font-size: 14px;
}

/*
h2 {
  text-align: center;
}
*/

.jumbotron {
  color: @gray;
  opacity: 0.7;
}

.content {
  text-align: center;

}

.register.row button {
  margin: 20px 5px 36px 5px;
}

.follow.row>* {
  padding-bottom: 20px;
}

.bottom {
  background-color: #FFF;
  width: 100%;
  color: @gray;
  text-align: center;
  padding-bottom: 20px;
  max-width: 1200px;

  a i {
    padding-left: 7px;
    font-size: large;;
  }

  .fa-facebook-official {
    color: #3B5998;
  }

  .fa-envelope {
    color: #777;
  }
}

.sponsors {
  img {
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 75px;
    margin: 10px;
  }
}