@text-color: #2B2B2B;
@nav-bg-color: #A77;
@nav-text-color: darken(@nav-bg-color, 40%);
@nav-text-hover-color: darken(@nav-text-color, 15%);
@off-white: lighten(@nav-bg-color, 32%);
@modal-bg-color: lighten(@nav-bg-color, 25%);
@modal-divider-color: lighten(@nav-bg-color, 12%);
@divider-color: darken(@off-white, 12%);
@link-color: #199FCB;
@default-bg-color: #622;
@nav-bar-height: 50px;
@background-offset: -50px;
@width: 100%;

body {
  padding-top: @nav-bar-height;
  background: @default-bg-color url('img/background.jpg') fixed center @nav-bar-height + @background-offset;
  background-size: cover;
  font-size: 16px;
  color: @text-color;
  margin: auto;
  box-sizing: border-box;
}

/* Customize container */
@media (min-width: 768px) {
  .jumbotron .container, .content .container {
    max-width: 730px;
  }
}

.navbar {
  background-image: linear-gradient(to bottom, lighten(@nav-bg-color, 12%) 0, darken(@nav-bg-color, 12%) 100%);
  border-color: darken(@nav-bg-color, 24%);

  .navbar-header, .nav>li {
    font-size: 14px;

    >a {
      color: @nav-text-color;
      text-shadow: 0 1px 0 lighten(@nav-text-color, 40%);
    }

    >a:hover {
      color: @nav-text-hover-color;
    }
  }

  .nav {
    font-size: 14px;
  }

  .navbar-toggle {
    border-color: @nav-text-color;
    .icon-bar {
      background-color: @nav-text-color;
    }
  }

  .navbar-toggle:hover {
    background-color: @nav-text-color;
    .icon-bar {
      background-color: @nav-bg-color;
    }
  }
}

.jumbotron {
  opacity: 0.625;
  background-color: #EFF;
}

a, a:hover {
  color: @link-color;
}

h2 {
  margin-top: 30px;
}

.full-weight {
  font-weight: bold;
}

.content {
  color: @off-white;
  text-align: center;
  padding-bottom: 36px;

  .col-sm-6 {
    max-width: 360px;  /* Prevent lines from being too long on tablet */
    margin: auto;
  }

  .wwww {
    .row>div {
      margin-bottom: 26px;
    }
  }
}

.bottom {
  background-color: @off-white;
  width: 100%;
  text-align: center;

  hr {
    border-color: @divider-color
  }
}

.schedule {
  table {
    border-spacing: 0;
    margin: 10px auto 30px auto;

    td {
      text-align: left;
      border: thin solid lighten(@nav-bg-color, 15%);
    }

    td:first-child {
      background-color: lighten(@nav-bg-color, 15%);
      padding: 5px 10px 5px 14px;
    }
    td:last-child {
      padding: 5px 8px;
    }
  }
}

.sponsors {
  margin: 20px 0 10px 0;
  img {
    min-width: 50px;
    max-width: 150px;
    min-height: 50px;
    max-height: 75px;
    margin: 10px;
  }
}

.bottom {
  .sponsor-us, footer {
    font-weight: 600;
  }
  .sponsor-us {
    font-size: 20px;
    margin-bottom: 20px;
  }
  footer {
    .logo {
      margin: 24px 0 6px 0;
    }
    .social {
      margin-top: 9px;
      margin-bottom: 24px;
      i {
        padding: 0 6px;
        font-size: 30px;
      }
      .facebook {
        color: #3B5998;
      }
      .email {
        color: #777;
      }
      .linkedin {
        color: #111;
      }
    }
  }
}

.modal-content {
  background-color: @modal-bg-color;
  padding: 20px;
  h3 {
    text-align: center;
    margin: 5px 0 15px 0;
    font-weight: bold;
  }
}

.register-form {
  hr {
    border-color: @modal-divider-color;
  }
  div.radio {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .title, .title2 {
    font-weight: bold;
  }
  .title2 {
    margin-top: 18px;
  }
  .subtitle {
    font-size: small;
    color: lighten(@text-color, 10%);
  }
  .under-label {
    margin-top: 6px;
  }
  .number-input {
    width: 5em;
  }
  .submit-btn-container {
    text-align: center;
    margin-top: 8px;
    input, button {
      margin-top: 8px;
    }
  }
}

.error {
  color:#F00;
  font-weight: bold;
}

/** Prevent modal from hiding scroll bar **/
/*
.modal-open {
  overflow-y: scroll;
}

body {
  padding-right: 0 !important;
  overflow-y: scroll;
}
*/