body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: url('img/background.jpg') fixed;
    color: #DDD;
}

hr {
    border-color: #CC66FF
}

.btn {
    background: rgba(0,0,0,0);
    border: thin solid #CC66FF;
}

.btn:hover {
    background: #CC66FF;
    color: #000;
}

.register.row button {
    margin: 20px 5px 36px 5px;
}

.follow.row>* {
    padding-bottom: 20px;
}

.follow i, .follow a {
    cursor: pointer;
}

.follow i {
    font-size: 64px;
}

.follow a {
    color: inherit;
}

.follow .facebook {
    color: #CC66FF;
}

.follow .email {
    color: #CC66FF;
}

.follow .mailing-list {
    color: #CC66FF;
}