body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.register.row button {
    margin: 20px 5px 36px 5px;
}

.follow.row>* {
    padding-bottom: 20px;
}

.follow i, .follow a {
    cursor: pointer;
}

.follow i {
    font-size: 64px;
}

.follow a {
    color: inherit;
}

.follow .facebook {
    color: #3B5998;
}

.follow .email {
    color: #AA0000;
}

.follow .mailing-list {
    color: #4DA64D;
}